In [20]:
import pandas as pd
from pandas_profiling import ProfileReport
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
competitor_df = pd.read_csv("../data/b1e476b3-c4ea-41b6-8957-b1954434dd26_competitivelandscape.csv")

In [3]:
profile = ProfileReport(competitor_df, title="EDA Report")
profile.to_file("competitor_eda.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
competitor_df.head()

,Date,Channel,Brand,Mentions_Count,Sentiment_Score,Share_of_Voice
0,2023-01-02,E Commerce,Amazon Solimo,156,61.3,15.0
1,2023-01-02,E Commerce,Minute Maid,346,70.0,33.2
2,2023-01-02,E Commerce,Real Fruit Juice,542,70.9,51.9
3,2023-01-02,General Trade,Minute Maid,551,72.4,53.8
4,2023-01-02,General Trade,Paper Boat,474,67.0,46.2

In [10]:
competitor_df.describe()

       Mentions_Count  Sentiment_Score  Share_of_Voice
count     1260.000000      1260.000000     1260.000000
mean       409.838889        70.063571       41.667302
std        207.061264         5.547975       12.816972
min        101.000000        50.100000       13.400000
25%        255.000000        66.600000       31.100000
50%        367.000000        70.100000       40.100000
75%        521.250000        73.800000       51.700000
max       1575.000000        86.100000       67.600000

In [4]:
len(competitor_df)

1260

In [11]:
competitor_df.nunique()

Date               105
Channel              5
Brand                6
Mentions_Count     579
Sentiment_Score    260
Share_of_Voice     390
dtype: int64

In [12]:
competitor_df.Brand.unique()

array(['Amazon Solimo', 'Minute Maid', 'Real Fruit Juice', 'Paper Boat',
       'B Natural', 'Tropicana'], dtype=object)

In [13]:
competitor_df.Channel.unique()

array(['E Commerce', 'General Trade', 'HoReCa', 'Modern Trade',
       'Q Commerce'], dtype=object)

In [17]:
# Plot the distribution of Share_of_Voice
plt.figure(figsize=(10, 6))
sns.histplot(competitor_df['Share_of_Voice'], bins=30, kde=True)
plt.title('Distribution of Share of Voice')
plt.xlabel('Share of Voice')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Plot the count of mentions by Brand
plt.figure(figsize=(12, 8))
sns.countplot(data=competitor_df, x='Brand', order=competitor_df['Brand'].value_counts().index)
plt.title('Count of Mentions by Brand')
plt.xlabel('Brand')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Plot the average Sentiment Score by Channel
plt.figure(figsize=(12, 8))
sns.barplot(data=competitor_df, x='Channel', y='Sentiment_Score', estimator=np.mean)
plt.title('Average Sentiment Score by Channel')
plt.xlabel('Channel')
plt.ylabel('Average Sentiment Score')
plt.xticks(rotation=45)
plt.show()

([0, 1, 2, 3, 4],
 [Text(0, 0, 'E Commerce'),
  Text(1, 0, 'General Trade'),
  Text(2, 0, 'HoReCa'),
  Text(3, 0, 'Modern Trade'),
  Text(4, 0, 'Q Commerce')])

In [25]:
plt.savefig('competitor_eda.png')