In [1]:
import pandas as pd

In [2]:
consumer_df = pd.read_csv("../../data/intermediate_data/consumer_city.csv")
marketing_df = pd.read_csv("../../data/intermediate_data/marketing_city.csv")
sales_df = pd.read_csv("../../data/intermediate_data/retail_sales_city_product.csv")
competitor_df = pd.read_csv("../../data/processed/competitors_processed.csv")

In [5]:
consumer_df.columns, marketing_df.columns, sales_df.columns, competitor_df.columns

(Index(['Customer_ID', 'Age_Group', 'Income_Level', 'City_ID',
        'Preferred_Flavor', 'Purchase_Frequency', 'Price_Sensitivity',
        'Preferred_Channel', 'Active', 'City_Name', 'City_tier',
        'Population_Density(persons/km)', 'Per_Capita_Income (INR)'],
       dtype='object'),
 Index(['Week_Start_Date', 'City_ID', 'Avg_Temperature', 'Weather_Type',
        'Festival', 'City_Name', 'City_tier', 'Population_Density(persons/km)',
        'Per_Capita_Income (INR)'],
       dtype='object'),
 Index(['Date', 'City_ID', 'SKU_ID', 'Channel', 'Units_Sold', 'Sales',
        'Product Name', 'Flavor Variant', 'Launch Date', 'Pack Size (L)',
        'General Trade', 'E Commerce', 'Modern Trade', 'HoReCa', 'Q Commerce',
        'City_Name', 'City_tier', 'Population_Density(persons/km)',
        'Per_Capita_Income (INR)'],
       dtype='object'),
 Index(['Date', 'Channel', 'Brand', 'Mentions_Count', 'Sentiment_Score',
        'Share_of_Voice'],
       dtype='object'))

In [8]:
len(consumer_df), len(marketing_df), len(sales_df), len(competitor_df)

(50000, 2100, 334300, 1260)

In [12]:
marketing_df.head(21)

,Week_Start_Date,City_ID,Avg_Temperature,Weather_Type,Festival,City_Name,City_tier,Population_Density(persons/km),Per_Capita_Income (INR)
0,2023-01-02,CT001,21.0,Cold,No Festival,Delhi,Tier 1,14893,461910
1,2023-01-02,CT002,19.4,Cold,No Festival,Mumbai,Tier 1,20518,400000
2,2023-01-02,CT003,19.8,Cold,No Festival,Kolkata,Tier 1,24252,171184
3,2023-01-02,CT004,20.8,Cold,No Festival,Chennai,Tier 1,14456,585501
4,2023-01-02,CT005,21.6,Cold,No Festival,Bengaluru,Tier 1,4378,352000
5,2023-01-02,CT006,18.8,Cold,No Festival,Hyderabad,Tier 1,10477,400000
6,2023-01-02,CT007,21.0,Cold,No Festival,Ahmedabad,Tier 1,12984,302588
7,2023-01-02,CT008,20.4,Cold,No Festival,Pune,Tier 1,6034,336503
8,2023-01-02,CT009,19.5,Cold,No Festival,Jaipur,Tier 2,6502,141305
9,2023-01-02,CT010,18.4,Cold,No Festival,Lucknow,Tier 2,3814,105000
10,2023-01-02,CT011,23.0,Mild,No Festival,Kochi,Tier 2,3478,372783
11,2023-01-02,CT012,20.4,Cold,No Festival,Visakhapatnam,Tier 2,1809,483892
12,2023-01-02,CT013,18.3,Cold,No Festival,Bhopal,Tier 2,5552,147000
13,2023-01-02,CT014,19.7,Cold,No Festival,Chandigarh,Tier 2,9250,349000
14,2023-01-02,CT015,19.6,Cold,No Festival,Guwahati,Tier 2,1800,487572
15,2023-01-02,CT016,21.3,Cold,No Festival,Nagpur,Tier 2,9664,296607
16,2023-01-02,CT017,19.8,Cold,No Festival,Surat,Tier 2,8617,389810
17,2023-01-02,CT018,19.8,Cold,No Festival,Patna,Tier 2,2805,173305
18,2023-01-02,CT019,19.0,Cold,No Festival,Ludhiana,Tier 2,9750,123882
19,2023-01-02,CT020,20.5,Cold,No Festival,Jammu,Tier 2,3571,186000
20,2023-01-09,CT001,20.6,Cold,Pongal,Delhi,Tier 1,14893,461910